@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
}

nav {
    background-color: #343131;
}

.github-logo {
    height: 30px;
    width: 80px;
    margin-right: 15px;
}

.get-method, .post-method, .update-method, .delete-method{
    font-weight: 600;
    width: 90px;
    border-radius: 5%;
}

.post-method {
    background-color: rgb(0, 162, 255);
}

.update-method {
    background-color: #ec921c;
}

.border-post-method {
    border: rgb(0, 162, 255) solid 1px;
}

.border-put-method {
    border: #ec921c solid 1px;
}

.desc{
    font-weight: 300;
    margin-left: 1%;
}

.endpoint .path {
    color: #343131;
    font-weight: 700;
}

.endpoint:hover {
    cursor: pointer;
}

.endpoint svg {
    margin-right: 1.5%;
}

.status-code {
    font-weight: 700;
}

.buttons .btn {
    background-color: #343131;
    color: #EFEFEF;
}

.buttons .btn:hover, .btn:active, .btn::after {
    background-color: #4d4a4a;
    color: #EFEFEF;
}

#database-message {
    margin-top: 1%;
    font-size: 0.8rem;
}

#database-message span {
    font-weight: 800;
}


@media (max-width: 767px) {
    .buttons {
        flex-direction: column;
    }

    .buttons a {
        margin: 1.5% 0;

    }

    .buttons a button {
        width: 40%;
        padding: 10px;
        font-size: 1.1rem;
    }

    #players h4 {
        margin-top: 10%;
    }
}